@use "../../scss/abstracts/" as *;

.topnav {
  display: flex;
  margin-bottom: $spacing;
  background-color: #fff;
  align-content: space-around;
  justify-content: space-between;

  @include tablet {
    margin-bottom: $mobileSpacing;
  }
}

.topnav__menu {
  display: flex;
  padding: 20px;
}

.topnav__menu {
  &__item {
    padding-left: 10%;
    color: #a2a4b9;

    @include tablet {
      padding-left: $mobileSpacing;
    }

    &:hover {
      color: $mainColor;

      @include tablet {
        color: $mainColor;
      }
    }

    &.active {
      font-weight: 700;
      color: $mainColor;

      @include tablet {
        color: $mainColor;
      }

      &::before {
        content: "";
        position: absolute;
        height: 100%;
        width: 5px;
        left: 0;
        top: 0;
        background-color: $mainColor;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;

        @include tablet {
          background-color: $mainColor;
        }
      }
    }

    &__icon {
      --size: 40px;
      width: var(--size);
      height: var(--size);
      margin-right: 3rem;
      @include flex(center, center);

      @include tablet {
        margin-right: 1rem;
      }

      i {
        font-size: 1.9rem;
      }
    }

    &:last-child {
      margin-top: auto;
      cursor: pointer;
    }
  }
}

.sidebar-toggle {
  --size: 40px;
  width: var(--size);
  height: var(--size);
  @include flex(center, center);
  cursor: pointer;
  display: none;

  @include tablet {
    display: flex;
  }

  i {
    font-size: 3rem;
    color: $mainColor;
  }
}
