@use "../../scss/abstracts/" as *;

.user-info {
  @include flex(center, flex-start);
  background-color: $mainBg;
  border-radius: $borderRadius;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  color: #888cb7;
  padding-bottom: 22px;

  h1 {
    font-size: 16px;
  }
  p {
    font-size: 10px;
  }
  p > span {
    color: #92ef39;
  }
  &__img {
    --size: 50px;
    width: auto;
    height: var(--size);
    border-radius: $borderRadius;

    img {
      border-radius: $borderRadius;
    }
  }

  &__name {
    padding: 0 $spacing;
    font-size: $fontSizeMedium;
    font-weight: 700;

    @include tablet {
      padding: 0 $mobileSpacing;
    }
  }
}

.user__avatar {
  width: auto;
  padding: 10px;
}

.button__plan {
  background: #713bdb;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.12);
  border-radius: 7px;
  color: white;
  padding: 10px;
  cursor: pointer;
  outline: none;
  border: none;
}

.button__plan > span {
  margin: 12px;
}

.plan {
  padding: 1rem;
}
