@use "../../scss/abstracts/" as *;

.progress-bar {
  height: 10px;
  background-color: $bodyBg;
  border-radius: 2.5px;

  &__inner {
    border-radius: 2.5px;
    height: 100%;
    background: linear-gradient(90deg, #33d69f 0%, #50edb8 111.47%);
  }

  &__inners {
    border-radius: 2.5px;
    height: 100%;
    background: linear-gradient(90deg, #713bdb 0%, #a886e9 111.47%);
  }
}
